<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emperor</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="icon" href="../images/header/logo.svg">
</head>
<body>
    <aside class="aside nav__aside">
        <a href="#" class="aside__btn">
            <span class="aside__btnLine"></span>
            <span class="aside__btnLine"></span>
        </a>
    </aside>
    <header class="header">
        <nav class="nav header__nav">
            <div class="container">
                <div class="nav__content">
                    <a href="#" class="nav__burger">
                        <span class="nav__burgerLine"></span>
                        <span class="nav__burgerLine"></span>
                        <span class="nav__burgerLine"></span>
                    </a>
                    <a href="#" class="nav__logo">
                        <img src="../images/header/logo.svg" alt="company logo">
                        <h2 class="nav__title">Emperor</h2>
                    </a>
                    <ul class="nav__menu">
                        <li><a href="#" class="nav__link">О нас</a></li>
                        <li><a href="#" class="nav__link">Мужское</a></li>
                        <li><a href="#" class="nav__link">Женское</a></li>
                    </ul> 
                    <input type="text" name="search" class="nav__search" placeholder="Search something…">
                    <a href="" class="nav__bag">
                        <div class="nav__cart cart">
                            <img src="../images/header/bag.svg" alt="">
                            <span class="nav__span">3</span>
                        </div>
                        <h2 class="nav__cartTitle">Корзина</h2>
                    </a>
                </div>
            </div>    
        </nav>
        <img src="../images/header/header.png" alt="" style="width: 100%;">
        <div class="container">
            <div class="header__content">
                <div class="header__about">
                    <h1 class="header__title">Tissot Мужские PRS 516</h1>
                    <h2 class="header__underTitle">Tissot</h2>
                </div>
                <div class="header__btns">
                    <a href="#" class="header__btn btn">
                        <div></div>
                        Купить сейчас
                    </a>
                    <a href="#" class="header__btn btn">
                        <div></div>
                        Подпробнее
                    </a>
                </div>
                <div class="header__partners">
                    <a href="#" class="header__partnersLogo">
                        <img src="../images/header/asus.png" alt="partners">
                    </a>
                    <a href="#" class="header__partnersLogo">
                        <img src="../images/header/mi.png" alt="partners">
                    </a>
                    <a href="#" class="header__partnersLogo">
                        <img src="../images/header/samsung.png" alt="partners">
                    </a>
                    <a href="#" class="header__partnersLogo">
                        <img src="../images/header/sony.png" alt="partners">
                    </a>
                    <a href="#" class="header__partnersLogo">
                        <img src="../images/header/wacom.png" alt="partners">
                    </a>
                    <a href="#" class="header__partnersLogo">
                        <img src="../images/header/apple.png" alt="partners">
                    </a>
                </div>
            </div>
        </div>
    </header>   
    <main class="main">
        <div class="container">
            <section class="section main__section1">
                <h2 class="section__title main__title1">Популярные продукты</h2>
                <p class="section__description main__description1">Ознакомьтесь с нашими популярными товарами прямо сейчас</p>
                <div class="section__cards1 cards">
                    <div class="section__card card">
                        <div class="card__img">
                            <img src="../images/main/card-img1.png" alt="watch">
                            <div class="card__cart cart">
                                <img src="../images/header/bag.svg" alt="">
                            </div>
                        </div>
                        <div class="card__about">
                            <h3 class="card__description">Черные часы Tissot 1853</h3>
                            <span class="card__price">560$</span>
                        </div>
                    </div>
                    <div class="section__card card">
                        <div class="card__img">
                            <img src="../images/main/card-img2.png" alt="watch">
                            <div class="card__cart cart">
                                <img src="../images/header/bag.svg" alt="">
                            </div>
                        </div>
                        <div class="card__about">
                            <h3 class="card__description">Черные часы Tissot 1853</h3>
                            <span class="card__price">560$</span>
                        </div>
                    </div>
                    <div class="section__card card">
                        <div class="card__img">
                            <img src="../images/main/card-img3.png" alt="watch">
                            <div class="card__cart cart">
                                <img src="../images/header/bag.svg" alt="">
                            </div>
                        </div>
                        <div class="card__about">
                            <h3 class="card__description">Черные часы Tissot 1853</h3>
                            <span class="card__price">560$</span>
                        </div>
                    </div>
                    <div class="section__card card">
                        <div class="card__img">
                            <img src="../images/main/card-img2.png" alt="watch">
                            <div class="card__cart cart">
                                <img src="../images/header/bag.svg" alt="">
                            </div>
                        </div>
                        <div class="card__about">
                            <h3 class="card__description">Черные часы Tissot 1853</h3>
                            <span class="card__price">560$</span>
                        </div>
                    </div>
                    <div class="section__card card">
                        <div class="card__img">
                            <img src="../images/main/card-img3.png" alt="watch">
                            <div class="card__cart cart">
                                <img src="../images/header/bag.svg" alt="">
                            </div>
                        </div>
                        <div class="card__about">
                            <h3 class="card__description">Черные часы Tissot 1853</h3>
                            <span class="card__price">560$</span>
                        </div>
                    </div>
                    <div class="section__card card">
                        <div class="card__img">
                            <img src="../images/main/card-img1.png" alt="watch">
                            <div class="card__cart cart">
                                <img src="../images/header/bag.svg" alt="">
                            </div>
                        </div>
                        <div class="card__about">
                            <h3 class="card__description">Черные часы Tissot 1853</h3>
                            <span class="card__price">560$</span>
                        </div>
                    </div>
                </div>
            </section>
            <section class="sectiion main__section2 section2">
                <div class="section2__content">
                    <h2 class="section__title section2__title">Почему стоит покупать у нас?</h2>
                    <p class="section2__text paragraphe">Experience finely tuned noise-canceling performance in a comfortable headphone. Long-lasting battery life plus quick charging keeps you listening for up to 35 hours since start.</p>
                    <a href="#" class="section2__btn btn">
                        <img src="../images/main/bag.svg" alt="" class="section2__icon">
                        Купить сейчас
                    </a>
                </div>
            </section>
            <section class="section3 section">
                <h2 class="section__title section3__title">Женские часы</h2>
                <div class="section__cards2 cards">
                    <div class="section__card card">
                        <div class="card__img">
                            <img src="../images/main/card-img3.png" alt="watch">
                            <div class="card__cart cart">
                                <img src="../images/header/bag.svg" alt="">
                            </div>
                        </div>
                        <div class="card__about">
                            <h3 class="card__description">Черные часы Tissot 1853</h3>
                            <span class="card__price">560$</span>
                        </div>
                    </div>
                    <div class="section__card card">
                        <div class="card__img">
                            <img src="../images/main/card-img4.png" alt="watch">
                            <div class="card__cart cart">
                                <img src="../images/header/bag.svg" alt="">
                            </div>
                        </div>
                        <div class="card__about">
                            <h3 class="card__description">Черные часы Tissot 1853</h3>
                            <span class="card__price">560$</span>
                        </div>
                    </div>
                    <div class="section__card card">
                        <div class="card__img">
                            <img src="../images/main/card-img5.png" alt="watch">
                            <div class="card__cart cart">
                                <img src="../images/header/bag.svg" alt="">
                            </div>
                        </div>
                        <div class="card__about">
                            <h3 class="card__description">Черные часы Tissot 1853</h3>
                            <span class="card__price">560$</span>
                        </div>
                    </div>
                </div
            </section>
        </div>
    </main>
    <div class="container">
        <footer class="footer">
            <div class="footer__up">
                <div class="footer__email email">
                    <img src="../images/main/illustration.svg" alt="">
                   <div class="email__content">
                        <h4 class="email__title">Emperor</h4>
                        <p class="email__text">Подпишитесь на нашу рассылку что быть в курсе наших новостей</p>
                        <div class="email__input">
                            <input type="" class="email__input" placeholder="Your email address">
                        </div>
                   </div>
                </div>
                <div class="footer__navbar navbar">
                    <div class="navbar__menu">
                        <h4 class="navbar__title footer__title">Навигация <span class="arrow"></span></h4>
                        <div class="dropDown__content">
                            <ul>
                                <li>
                                    <a href="#" class="navbar__link">Главная</a>
                                </li>
                                <li>
                                    <a href="#" class="navbar__link">О нас</a>
                                </li>
                                <li>
                                    <a href="#" class="navbar__link">Мужское</a>
                                </li>
                                <li>
                                    <a href="#" class="navbar__link">Женское</a>
                                </li>
                            </ul>
                        </div>
                        <ul class="navbar__links">
                            <li>
                                <a href="#" class="navbar__link">Главная</a>
                            </li>
                            <li>
                                <a href="#" class="navbar__link">О нас</a>
                            </li>
                            <li>
                                <a href="#" class="navbar__link">Мужское</a>
                            </li>
                            <li>
                                <a href="#" class="navbar__link">Женское</a>
                            </li>
                        </ul>
                    </div>
                    <div class="navbar__menu">
                        <h4 class="navbar__title footer__title">Полезные ресурсы <span class="arrow"></span></h4>
                        <div class="dropDown__content">
                            <ul>
                                <li>
                                    <a href="#" class="navbar__link">Главная</a>
                                </li>
                                <li>
                                    <a href="#" class="navbar__link">О нас</a>
                                </li>
                                <li>
                                    <a href="#" class="navbar__link">Мужское</a>
                                </li>
                                <li>
                                    <a href="#" class="navbar__link">Женское</a>
                                </li>
                            </ul>
                        </div>
                        <ul class="navbar__links">
                            <li>
                                <a href="#" class="navbar__link">Блог</a>
                            </li>
                            <li>
                                <a href="#" class="navbar__link">Новый завоз</a>
                            </li>
                            <li>
                                <a href="#" class="navbar__link">Контакты</a>
                            </li>
                            <li>
                                <a href="#" class="navbar__link">Поддрежка</a>
                            </li>
                            <li>
                                <a href="#" class="navbar__link">Sponsor UI Design Daily</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer__contact contact">
                    <div class="contact__socialMedia">
                        <h4 class="contact__text footer__title">Мы в социальных сетях</h4>
                        <div class="contact__messengers">
                            <img src="../images/main/ball.svg" alt="">
                            <img src="../images/main/twitter.svg" alt="">
                            <img src="../images/main/instagram.svg" alt="">
                        </div>
                    </div>
                    <a href="#" class="contact__channel">
                        <img src="../images/main/channel-logo.svg" alt="">
                        <h3 class="contact__channelText">Join our Slack channel</h3>
                    </a>
                </div>
            </div>
            <div class="footer__down">
                <h6 class="footer__legal footer__text">Legal</h6>
                <p class="footer__rights footer__text">© 2021 UI Design Daily All rights reserved</p>
                <div class="footer__clients clients">
                    <h3 class="clients__number">3137</h3>
                    <p class="clients__text">Cчастливых покупателей</p>
                </div>
            </div>
        </footer>
    </div>
    <script src="../script/app.js"></script>
</body>
</html>