<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emperor</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="icon" href="../images/logo.svg">
</head>
<body>
    <aside class="aside nav__aside">
        <a href="#" class="aside__btn">
            <span class="aside__btnLine"></span>
            <span class="aside__btnLine"></span>
        </a>
    </aside>
    <header class="header">
        <nav class="nav header__nav">
            <div class="container">
                <div class="nav__content">
                    <a href="#" class="nav__burger">
                        <span class="nav__burgerLine"></span>
                        <span class="nav__burgerLine"></span>
                        <span class="nav__burgerLine"></span>
                    </a>
                    <a href="#" class="nav__logo">
                        <img src="../images/logo.svg" alt="company logo">
                        <h2 class="nav__title">Emperor</h2>
                    </a>
                    <ul class="nav__menu">
                        <li><a href="#" class="nav__link">О нас</a></li>
                        <li><a href="#" class="nav__link">Мужское</a></li>
                        <li><a href="#" class="nav__link">Женское</a></li>
                    </ul> 
                    <input type="text" name="search" class="nav__search" placeholder="Search something…">
                    <a href="" class="nav__bag">
                        <div class="nav__cart">
                            <img src="../images/bag.svg" alt="">
                            <span class="nav__span">3</span>
                        </div>
                        <h2 class="nav__cartTitle">Корзина</h2>
                    </a>
                </div>
            </div>    
        </nav>
        <img src="../images/header.png" alt="" style="width: 100%;">
        <div class="container">
            <div class="header__content">
                <div class="header__about">
                    <h1 class="header__title">Tissot Мужские PRS 516</h1>
                    <h2 class="header__underTitle">Tissot</h2>
                </div>
                <div class="header__btns">
                    <a href="#" class="header__btn">
                        <div></div>
                        Купить сейчас
                    </a>
                    <a href="#" class="header__btn">
                        <div></div>
                        Подпробнее
                    </a>
                </div>
                <div class="header__partners">
                    <a href="#" class="header__partnersLogo">
                        <img src="../images/asus.png" alt="partners">
                    </a>
                    <a href="#" class="header__partnersLogo">
                        <img src="../images/mi.png" alt="partners">
                    </a>
                    <a href="#" class="header__partnersLogo">
                        <img src="../images/samsung.png" alt="partners">
                    </a>
                    <a href="#" class="header__partnersLogo">
                        <img src="../images/sony.png" alt="partners">
                    </a>
                    <a href="#" class="header__partnersLogo">
                        <img src="../images/wacom.png" alt="partners">
                    </a>
                    <a href="#" class="header__partnersLogo">
                        <img src="../images/apple.png" alt="partners">
                    </a>
                </div>
            </div>
        </div>
    </header>    
    
    <script src="../script/app.js"></script>
</body>
</html>